${BOLD}${FG_CYAN}Listing all possible standard Python environment variables...${RESET}
PYTHONASYNCIODEBUG=${PYTHONASYNCIODEBUG}
PYTHONBREAKPOINT=${PYTHONBREAKPOINT}
PYTHONCASEOK=${PYTHONCASEOK}
PYTHONCOERCECLOCALE=${PYTHONCOERCECLOCALE}
PYTHONDEBUG=${PYTHONDEBUG}
PYTHONDEVMODE=${PYTHONDEVMODE}
PYTHONDONTWRITEBYTECODE=${PYTHONDONTWRITEBYTECODE}
PYTHONDUMPREFS=${PYTHONDUMPREFS}
PYTHONEXECUTABLE=${PYTHONEXECUTABLE}
PYTHONFAULTHANDLER=${PYTHONFAULTHANDLER}
PYTHONHASHSEED=${PYTHONHASHSEED}
PYTHONHOME=${PYTHONHOME}
PYTHONINSPECT=${PYTHONINSPECT}
PYTHONIOENCODING=${PYTHONIOENCODING}
PYTHONLEGACYWINDOWSFSENCODING=${PYTHONLEGACYWINDOWSFSENCODING}
PYTHONLEGACYWINDOWSSTDIO=${PYTHONLEGACYWINDOWSSTDIO}
PYTHONMALLOC=${PYTHONMALLOC}
PYTHONMALLOCSTATS=${PYTHONMALLOCSTATS}
PYTHONNOUSERSITE=${PYTHONNOUSERSITE}
PYTHONOPTIMIZE=${PYTHONOPTIMIZE}
PYTHONPATH=${PYTHONPATH}
PYTHONPLATLIBDIR=${PYTHONPLATLIBDIR}
PYTHONPROFILEIMPORTTIME=${PYTHONPROFILEIMPORTTIME}
PYTHONPYCACHEPREFIX=${PYTHONPYCACHEPREFIX}
PYTHONSTARTUP=${PYTHONSTARTUP}
PYTHONTHREADDEBUG=${PYTHONTHREADDEBUG}
PYTHONTRACEMALLOC=${PYTHONTRACEMALLOC}
PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
PYTHONUSERBASE=${PYTHONUSERBASE}
PYTHONUTF8=${PYTHONUTF8}
PYTHONVERBOSE=${PYTHONVERBOSE}
PYTHONWARNDEFAULTENCODING=${PYTHONWARNDEFAULTENCODING}
PYTHONWARNINGS=${PYTHONWARNINGS}
