{% if is_new -%}
Hello, {{receiver_name}}!
{% else -%}
Hello again, {{receiver_name}}!
{% endif %}

You are receiving this email as a **test** of [File][project].

Thank you for your participation in this test.  You may now safely delete this
email.

Regards,

{{sender_name}}

[project]: https://github.com/djrlj694/python-file
